<section class="bg-primary">
    <div class="container">
        <div class="col-md-12">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline text-center">Admin Section</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <div class="col-md-5">
                    <span class="md-subhead">Awaiting approval</span>


                </div>


            </md-card-content>
        </md-card>
        </div>


    </div>
</section>