<section class="bg-pages" ng-controller="myApp.BlogCtrl as blog">
    <div class="container">
        <div class="col-md-12">
            <md-card >

                <md-card-title >
                    <md-card-title-text>
                        <span class="md-headline text-left">{{ blog.post.title }}</span>
                        <span class="md-subhead">
                            Author: {{ blog.post.user.username }} | Posted: {{ blog.post.created_at | limitTo: 10}}
                        </span>
                    </md-card-title-text>
                </md-card-title>

                    <md-card-content >
                        <div class="row">
                        <div class="col-md-12">
                        <p ng-bind-html="blog.post.body">
                            {{ blog.post.body }}
                        </p>

                        </div>
                        </div>
                        <div class="row">
                            <ng-image-gallery
                                    style="margin-left: 25%"
                                    images="blog.images"
                                    methods="methods"
                                    conf="conf"
                                    on-open="opened();"
                                    on-close="closed();"
                            ></ng-image-gallery>
                        </div>
                        <div class="row">
                            <md-button class="wc-theme" ng-click="blog.goBack()">Back</md-button>
                            <md-button ng-show="blog.post.gallery" class="wc-theme pull-right"  ui-sref="galleryDetail({postId: blog.post.id})" >View full gallery</md-button>
                        </div>

                    </md-card-content>

            </md-card>

        </div>
    </div>
</section>