<section class="bg-pages" ng-controller="myApp.BlogCtrl as blog">
    <div class="container">
        <div class="col-md-12">
            <md-card >

                <md-card-title >
                    <md-card-title-text>
                        <span class="md-headline text-left">Detail</span>
                        <span class="md-subhead">
                        </span>
                    </md-card-title-text>
                </md-card-title>

                    <md-card-content >
                        <div class="col-md-9">
                        <p>

                        </p>

                    </div>
                    <div class="col-md-3">

                    </div>
                    </md-card-content>



            </md-card>

        </div>
    </div>
</section>