<section class="bg-pages" ng-controller="myApp.EventCtrl as event">
    <div class="container">
        <div class="col-md-6">
            <md-card style="padding: 50px">
                <h2>Upcoming Events</h2>

                <md-card ng-repeat="tournament in event.tournaments">
                <md-card-title >
                    <md-card-title-text>
                        <span class="md-headline"><a ui-sref="tournament({tournamentId:tournament.id})">{{ tournament.title }}</a> in  <flag country="{{tournament.location}}" size="32"></flag></span>
                        <span class="md-subhead">
                        </span>
                    </md-card-title-text>
                </md-card-title>

                    <md-card-content >
                        <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover myTable ">
                                <thead>

                                <tr>
                                    <th>Days</th>
                                    <th>Hours</th>
                                    <th>Min</th>
                                    <th> Sec</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <td><timer countdown="tournament.date" interval="1000">{{days}}</timer></td>
                                    <td><timer countdown="tournament.date" interval="1000">{{hours}}</timer>
                                    <td><timer countdown="tournament.date" interval="1000">{{mminutes}}</timer>
                                    <td><timer countdown="tournament.date" interval="1000">{{sseconds}}</timer>

                                </tr>

                                </tbody>
                            </table>
                        </div>    <!-- /.table-responsive -->

                        </div>
                        <div class="col-md-3">
                            <img class="img-responsive" src="{{ tournament.url }}" >
                        </div>
                    </md-card-content>
                    <md-card-actions ng-if="currentUser" layout="row" layout-align="end center">
                        <md-button ng-click="event.attend(currentUser, tournament); showCategoryAttendance($event,'categoryAttendance',event.categories)">Attend</md-button>
                        <md-button ng-click="event.cantGo(currentUser, tournament)">Cant go</md-button>
                    </md-card-actions>
                </md-card>


            </md-card>

        </div>

        <div class="col-md-6">
            <md-card style="padding: 50px">
                <md-card>
                    <md-card-title >
                        <md-card-title-text>
                            <span class="md-headline">Past Events</span>
                            <span class="md-subhead">
                        </span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content >

                        <!--<div class="col-md-3">-->
                            <!--<img class="img-responsive" src="{{ post.url }}" >-->
                        <!--</div>-->
                    </md-card-content>
                </md-card>


            </md-card>

        </div>

    </div>
</section>