
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div  class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Log in</h3>
        </div>
        <div class="panel-body">
            <div ng-if="message" class="alert-success">{{ message }}</div>
            <div ng-if="errors" class="alert-danger">{{ errors }}</div>
            <form>
                <fieldset>

                    <div class="form-group ">
                        <input class="form-control" ng-model="user.username" placeholder="E-mail" name="username" type="text" value="">
                    </div>

                    <div class="form-group ">
                        <input class="form-control" ng-model="user.password" placeholder="Password" name="password" type="text" value="">
                    </div>

                    <button  ng-click="login(user)" class="btn btn-lg btn-success btn-block">Log in</button>
                    <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
                        <i class="ion-social-facebook"></i> Sign in with Facebook
                    </button>
                    <button ng-click="authenticate('google')">Sign in with Google</button>

                </fieldset>
            </form>
        </div>
    </div>
        </div>
    </div>
</div>